* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: 0;
  font-family: "Roboto Mono", monospace;
}

html {
  font-size: 62.5%;
  background: rgba(0, 0, 0, 0.9254901961);
}

.container {
  width: 100%;
  max-width: 124.6rem;
  margin: 0 auto;
  padding: 0px 1.5rem;
}

.area-busca {
  margin-top: 6rem;
}
.area-busca input {
  width: 42rem;
  height: 2.5rem;
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  height: 7rem;
  display: flex;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo h1 {
  margin: -0.3rem 0;
  font-size: 4rem;
  color: white;
}
header .container .logo h1 span {
  color: #485563;
}
header .container .area-busca-dados .input-buscar-cep {
  height: 3rem;
  border-radius: 7px;
  padding-left: 0.7rem;
}
header .container .area-busca-dados .btn-buscar-cep {
  height: 3.3rem;
  margin-left: 2rem;
  padding-inline: 1rem;
  border-radius: 7px;
  color: #485563;
  cursor: pointer;
}
header .container .area-busca-dados .btn-buscar-cep:hover {
  background-color: #485563;
  box-shadow: inset 0 0 0.4rem white;
  color: white;
}

.area-busca {
  height: 82rem;
}
.area-busca .dados-salvos {
  margin-top: 2rem;
}
.area-busca .dados-salvos .container3 {
  width: 100%;
  max-width: 93.6rem;
  margin: 0 auto;
  padding: 0px 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.439);
  border-radius: 10px;
  padding: 0.2rem;
}
.area-busca .dados-salvos .container3 .fundo {
  background-color: rgba(52, 54, 65, 0.293);
  border-radius: 10px;
  width: 100%;
  height: 8rem;
  padding: 1rem;
  color: #727b85;
}
.area-busca .dados-salvos .container3 .fundo .image {
  cursor: pointer;
  display: flex;
  justify-content: end;
  margin-top: -6rem;
}
.area-busca .dados-salvos .container3 .fundo .image img {
  width: 24px;
}
.area-busca .container2 {
  width: 100%;
  max-width: 66.6rem;
  margin: 0 auto;
  padding: 0px 1.5rem;
}
.area-busca .container2 .todos-dados {
  background-color: rgba(52, 54, 65, 0.293);
  padding: 2rem;
  border-radius: 10px;
}
.area-busca .container2 .todos-dados .image {
  cursor: pointer;
  display: flex;
  justify-content: end;
}
.area-busca .container2 .todos-dados .image img {
  max-width: 35px;
  width: 35px;
}
.area-busca .container2 .todos-dados h2 {
  color: #485563;
  margin-bottom: 1rem;
  font-size: 2rem;
  margin-top: -3rem;
}
.area-busca .container2 .todos-dados .dados-recebidos {
  display: flex;
  flex-direction: column;
}
.area-busca .container2 .todos-dados .dados-recebidos .dados {
  height: 3rem;
  border-radius: 7px;
  width: 60rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.area-busca .container2 .todos-dados .dados-recebidos label {
  color: #485563;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.area-busca .container2 .todos-dados .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.area-busca .container2 .todos-dados .buttons .btn {
  padding-inline: 2.5rem;
  padding-block: 0.5rem;
  cursor: pointer;
}
.area-busca .container2 .todos-dados .buttons .btn:hover {
  background-color: #485563;
  box-shadow: inset 0 0 0.4rem white;
  color: white;
}
.area-busca .container2 .msg-erro {
  display: none;
  color: red;
}

@-webkit-keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}/*# sourceMappingURL=style.css.map */